* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(255, 196, 0);
}

.frame {
  width: 550px;
  height: 700px;
  background-color: black;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.paper {
  position: relative;
  width: 480px;
  height: 600px;
  border-radius: 1px;
  margin: 0 auto;
  background-color: #fff;
  top: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #000;
  line-height: 26px;
  vertical-align: middle;
  font-size: 14px;
}

header .timestamp {
  line-height: 26px;
  margin-left: 5px;
}

main {
  height: 500px;
  padding: 25px;
}

h3 {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  height: 450px;
  overflow-y: overlay;
}

li {
  padding-left: 2px;
  margin-bottom: 10px;
  font-size: 18px;
}

li:hover::after {
  display: flex;
  justify-content: space-between;
}

li:hover::after {
  display: flex;
  justify-content: space-between;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid #000;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 400px;
  height: 40px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
}

input:focus {
  outline: 0;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.25s ease-out;
  font-size: 16px;
}

.btn.del {
  padding: 2px 4px;
}

.btn.del:hover {
  color: red;
  transform: scale(1.1);
}

.btn.check {
  padding: 2px 4px;
}

.btn.check:hover {
  color: green;
  transform: scale(1.1);
}

.btn.add {
  color: grey;
  font-size: 20px;
  padding: 4px 8px;
}

.btn.add:hover {
  color: #000;
  transform: scale(1.2);
}

.checked {
  font-style: italic;
  text-decoration: line-through rgba(0, 0, 0, 0.6) 2px;
}
